.admin-page {
  text-align: center;
  margin-top: 20px;
}

.manager-page {
  text-align: center;
  margin-top: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: max-height 0.3s ease-out;
}

.dropdown-content {
  position: relative;
  background-color: #f9f9f9;
  max-width: 400px;
  max-height: 0px;
  overflow-y: auto;
  overflow-x: scroll;
  border: 1px solid #ddd;
  z-index: 1;
  transition: max-height 0.3s ease-out;
}

.dropdown-content table {
  width: 100%;
  border-collapse: collapse;
}

.dropdown-content th,
.dropdown-content td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.dropdown-content tbody tr:last-child td {
  border-bottom: none;
}

.dropdown.active .dropdown-content {
  max-height: 290px;
}